{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
{% if not user.is_authenticated %}
  <div class="container">
<div class="page-header">
<h2 class='text-center'>Animation Competition</h2>
</div>
</div>
<section class="main" role="main">
  <div class="container">
    <span class="col-md-1">&nbsp;</span>
    <div class="col-md-5">
      <blockquote class="blockquote-reverse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>

    <div class="col-md-5">
      <div class="login">
        <form action="" method="post">
          {% csrf_token %}
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="Username" name="username" id="id_username">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" placeholder="Password" name="password" id="id_password">
          </div>
          <br>
          <button class="btn btn-primary" value="Login">Login</button>
          <button class="btn btn-secondary" value="Sign Up">Sign Up</button>
        </form>
      </div>
    </div>
    <span class="col-md-1">&nbsp;</span>

  </div>
</section>
{% endif %}

<section class="">
  <div class="container">
    {% for item in results %}
      <h2>{{ item.item.get_category_display }} {{ item.item.name }}</h2>
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Student</th>
          <th>School</th>
        </tr>
        {% for r in item.common_result %}
        <tr>
          <td>{{ r.rank }}</td>
          <td>{{ r.result.particpant.student.user.get_full_name }}</td>
          <td>{{ r.result.participant.student.school }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
</section>
<section class="">
  <div class="container">
    {% for item in results %}
      <h2>{{ item.item.get_category_display }} {{ item.item.name }} - Result by Students Rating</h2>
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Student</th>
          <th>School</th>
        </tr>
        {% for r in item.student_result %}
        <tr>
          <td>{{ r.rank }}</td>
          <td>{{ r.result.participant.student.user.get_full_name }}</td>
          <td>{{ r.result.participant.student.school }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
</section>
{% endblock %}
