{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'jrating/jRating.jquery.css' %}" type="text/css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jrating/jRating.jquery.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".rating.disabled").jRating({isDisabled:true});
    $(".rating.enabled").jRating({length: 10, rateMax:75, canRateAgain : true, nbRates : 3});
});
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
{% for item in items %}
<section class="main" role="main">
  <div class="container">
    <h2>{{ item.item.category }} {{ item.item.name }}</h2>
    <table class="table">
    {% if item.item.is_confirmed %}
      {% for score in item.scores %}
      <tr>
      <td>{{ score.student.user.username }}</td>
      <td><div class="rating disabled" data-average="{{ score.score }}" data-student="{{ score.student.id }}"
        data-item="{{ item.item.id }}"></div></td>
      {% endfor %}
      </tr>
    {% else %}
      {% for score in item.scores %}
      <tr>
      <td>{{ score.student.user.username }}</td>
      <td><div class="rating enabled" data-average="{{ score.score }}" data-student="{{ score.student.id }}"
        data-item="{{ item.item.id }}"></div></td>
      </tr>
      {% endfor %}
    {% endif %}
    </table>
  </div>
</section>
{% endfor %}
{% endblock %}
