{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<section class="main" role="main">
<div class="container">
    <table class="table">
        <tr>
            <th>Item</th>
            <th>No. of Jurys</th>
            <th>No. of Participants</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="{% url 'item_rating_report' item.id %}">{{ item.get_category_display }} {{ item.name }}</a></td>
            <td>{{ item.jury_set.count }}</td>
            <td>{{ item.student_set.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</section>
{% endblock %}

