{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'jrating/jRating.jquery.css' %}" type="text/css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jrating/jRating.jquery.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".confirm_result").click(function(){
    var item = parseInt($(this).attr('data-item'))
    var self = this;
    $.post(
      "/confirmresult/",
      {'item':item,
      csrfmiddlewaretoken: '{{ csrf_token }}' },
      function(data) {
        $(self).remove()
        $('.publish_result.publish_result'+item).removeClass('hide')
      });
  });
  $(".publish_result").click(function(){
    var self = this;
    $.post(
      "/publishresult/",
      {'item':parseInt($(this).attr('data-item')),
      csrfmiddlewaretoken: '{{ csrf_token }}' },
      function(data) {
        $(self).html('Result Published');
        $(self).prop('class', 'btn btn-success disabled btn-xs');
      });
  });
});
</script>
{% endblock %}

{% block content %}
{% for item in items %}
<section class="main" role="main">
  <div class="container">
    <h2>{{ item.item.category }} {{ item.item.name }}</h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Jourie Score</th>
        <th>Student Score</th>
        {% for jourie in item.jouries %}
          <th>J{{ forloop.counter0|add:'1' }}</th>
        {% endfor %}
      </tr>
      {% for score in item.scores %}
      <tr>
        <td>{{ score.student.user.username }}</td>
        <td>{{ score.jourie_mark }}</td>
        <td>{{ score.student_mark }}</td>
        {% for mark in score.jourie_score %}
          {% if mark == '' %}
          <td>&nbsp;</td>
          {% else %}
          <td>{{ mark }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% if item.item.is_result_published %}
    <button class="btn btn-success disabled btn-xs" data-item="{{ item.item.id }}">Result Published</button>
    {% elif item.item.is_confirmed %}
    <button class="btn btn-warning publish_result" data-item="{{ item.item.id }}">Publish Result</button>
    {% else %}
    <button class="btn btn-primary confirm_result" data-item="{{ item.item.id }}">Confirm Result</button>
    {% endif %}
    <button class="btn btn-warning hide publish_result publish_result{{ item.item.id }}" data-item="{{ item.item.id }}">Publish Result</button>
  </div>
</section>
{% endfor %}
{% endblock %}
