{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'jrating/jRating.jquery.css' %}" type="text/css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jrating/jRating.jquery.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".confirm_result").click(function(){
      $.post( "/confirmresult/",
        { 'item':parseInt($(this).attr('data-item')), csrfmiddlewaretoken: '{{ csrf_token }}' },
        function() {
          $(this).html('Publish Result')
          $.prop('class', 'btn btn-warning');
        });
    }); });
</script>
{% endblock %}

{% block content %}
{% for item in items %}
<section class="main" role="main">
  <div class="container">
    <h2>{{ item.item.category }} {{ item.item.name }}</h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Jourie Score</th>
        <th>Student Score</th>
        {% for jourie in item.jouries %}
          <th>J{{ forloop.counter0|add:'1' }}</th>
        {% endfor %}
      </tr>
      {% for score in item.scores %}
      <tr>
        <td>{{ score.student.user.username }}</td>
        <td>{{ score.jourie_mark }}</td>
        <td>{{ score.student_mark }}</td>
        {% for mark in score.jourie_score %}
          {% if mark == '' %}
          <td>&nbsp;</td>
          {% else %}
          <td>{{ mark }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <button class="btn btn-primary confirm_result" data-item="{{ item.item.id }}">Confirm Result</button>
  </div>
</section>
{% endfor %}
{% endblock %}
